@page "/projectentry/edit/{ProjectId:int}"
@inject Portfolio.Blazor.ProjectApiService portfolioApi
@inject NavigationManager navManager
@using Portfolio.Shared
@using Portfolio.Shared.ViewModels
<h3>EditProject</h3>

<label>Project Title:</label>
<br />
<input type="text" @bind="Title">
<br />
<br />

<label>Project Requirementes:</label>
<br />
<input type="text" @bind="Requirementes">
<br />

<label>Project Design:</label>
<br />
<input type="text" @bind="@Desgin" />
<br />

<label>Project CompletionDate: </label>
<br />
<input typp="date" @bind="CompletionDate">
<br />

<label>Language:</label>
<input type="text" @bind="languageName">
<button @onclick="AddLanguage">Add Language</button>


<div>
    <label>Languages</label>
    @foreach (var lan in Languages ?? new string[] { })
    {
        <br />
        <label>@lan</label>
    }
</div>

<button @onclick="SaveChanges">Update</button>

@code {
    [Parameter]
    public int ProjectId { get; set; }

    public ProjectViewModel CurrentProject { get; set; }
    public string Title { get; set; }
    public string Requirementes { get; set; }
    public string Desgin { get; set; }
    public DateTime CompletionDate { get; set; }
    private IEnumerable<string> Languages { get; set; }

    private string languageName = " ";

    protected override async Task OnInitializedAsync()
    {
        await RefreshProjectsAsync();
    }

    private async Task AddLanguage()
    {
        await portfolioApi.AssignLanguage(ProjectId, languageName);
        await RefreshProjectsAsync();
    }

    public async Task SaveChanges()
    {
        CurrentProject.Title = Title;
        CurrentProject.Requirements = Requirementes;
        CurrentProject.Design = Desgin;
        CurrentProject.CompletionDate = CompletionDate;

        await portfolioApi.Edit(CurrentProject);
        navManager.NavigateTo("https://delbert93.github.io/Portfolio/projectentry");
    }

    private async Task RefreshProjectsAsync()
    {
        CurrentProject = await portfolioApi.GetProjectByIdAsync(ProjectId);
        Title = CurrentProject.Title;
        Requirementes = CurrentProject.Requirements;
        Desgin = CurrentProject.Design;
        CompletionDate = CurrentProject.CompletionDate;
        Languages = CurrentProject.Languages;
    }

}
