@page "/"
@using Microsoft.Extensions.Configuration
@inject IConfiguration config
@inject AuthenticationStateProvider authStateProvider


<h1>Mckinnin Lloyd's Software Engineering Portfolio</h1>

@if (isAdmin)
{
    <h3>admin</h3>
}
else
{
    <h3>Still not an admin. :(</h3>}

<DisplayProjects />

@code
{
    bool isAdmin;



    protected override async Task OnInitializedAsync()
    {
        var authState = await authStateProvider.GetAuthenticationStateAsync();
        var roles = from c in authState.User.Claims
                    where c.Type == "https://schemas.dev-01xt5ns9.com/roles"
                    select c.Value;
        isAdmin = roles.Any(r => r.Contains("Admin"));
    } }

}

