@page "/projectentry"
@inject HttpClient http
@using Portfolio.Shared

<h3>ProjectEntry</h3>
<label>Project Name</label>
<br />
<textarea type="text" @bind="title"/>
<br>
<br>
<label>Requirements:</label>
<br />
<textarea type="text" @bind="requirement"/>
<br>
<br>
<label>Design:</label>
<br />
<textarea type="text" @bind="design"/>
<br>
<br>
<textarea type="date" @bind="completionDate" />
<br />
<button class="myBtn" @onclick="addProjectToDatabase">Submit Project!</button>

<DisplayProjects Projects="@projects"/>

@code
{
    private IEnumerable<Project> projects { get; set; }

    private string title = " ";
    private string requirement = " ";
    private string design = " ";
    private string langaugeName = " ";
    private DateTime completionDate;


    private async Task addProjectToDatabase()
    {
        var project = new Portfolio.Shared.Project
        {
            Title = title,
            Requirements = requirement,
            Design = design,
            CompletionDate = completionDate
        };
        try
        {
            var response = await http.PostAsJsonAsync("/project", project);
        }
        catch (Exception e)
        {
            Console.WriteLine(e.ToString());
        }

        await RefreshProjectsAsync();
    }


    private async Task loadProjects()
    {
        var response = await http.GetStringAsync("/project");
    }



    protected override async Task OnInitializedAsync()
    {
        await RefreshProjectsAsync();
    }



    private async Task RefreshProjectsAsync()
    {
        projects = await http.GetFromJsonAsync<IEnumerable<Project>>("/project");
    }

}
