body {
    margin: 0px;
}

.navbar {
    list-style-type: none;
    text-align: center;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.navItems {
    display: inline-block;
}

.navItems a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

    .navItems a:hover:not(.active) {
        background-color: #111;
    }

ul {
    display: block;
    list-style-type: none;
}

h1 {
    text-align: center;
    font-family: Helvetica;
    color: #2292A4;
}
h2 {
    text-align: left;
    font-family: Helvetica;
    color: #1F271B;
}

.myBtn {
    background-color: #540D6E;
    color: white;
    border: 2px solid #540D6E;
    border-radius: 8px;
}

    .myBtn:hover {
        background-color: white;
        color: #540D6E;
        transition: 0.3s;
    }

.projectList article {
}


.project-title {
    display: inline-block;
    list-style-type: none;
    font-size: 1.8em;
    color: #222;
    line-height: 1.4em;
}

.project-time {
    display: inline-block;
    text-transform: uppercase;
    text-align: right;
    line-height: 2.2em;
    color: rgb(170, 170, 170);
}
