@inject ProjectApiService portfoilApi
@inject NavigationManager navManager
@using Portfolio.Shared
@using Polly

<div style="text-align: center;">
    @foreach (var st in projects ?? new Project[] { })
    {
    <ui class="project-time">
        <article>
            <li>
                <a class="project-title" @onclick="() => NavigateToSingleProjectPage(st.Slug)">@st.Title</a>
            </li>
        </article>
    </ui>
    <br />
    }
</div>

@code {
    public IEnumerable<Project> projects { get; set; }

    public void NavigateToSingleProjectPage(string slug)
    {
        navManager.NavigateTo("projectentry/" + slug);
    }

    protected override async Task OnInitializedAsync()
    {
        await Polly.Policy
            .Handle<TimeoutException>()
            .WaitAndRetryForever(retryAttempt => TimeSpan.FromSeconds(Math.Pow(2, retryAttempt)))
            .Execute(async () =>
            {
                System.Diagnostics.Debug.WriteLine("Trying to make the call again...");
                projects = await portfoilApi.GetProjectsAsync();
            });
    }

}