@inject Portfolio.Blazor.ProjectApiService portfoiliApi
@inject NavigationManager navManager
@using Portfolio.Shared.ViewModels

<h3>@Name</h3>

<label>Projects That use @Name:</label>
<br />
<div>
    @foreach (var proj in Projects ?? new string[] { })
    {
        <br />
        <label><a class="text-primary" @onclick="() => NavigateToSingleProjectPage(proj)">@proj</a></label>
    }
</div>
<br />

@code {
    [Parameter]
    public string Slug { get; set; }

    private IEnumerable<string> Projects { get; set; }

    private string Name { get; set; }

    private LanguageViewModel CurrentLanguage { get; set; }

    protected override async Task OnInitializedAsync()
    {
        if (Slug == null)
        {
            return;
        }
        CurrentLanguage = await portfoiliApi.GetLanguageBySlugAsync(Slug);

        Name = CurrentLanguage.Name;
        Projects = CurrentLanguage.Projects;
        //Todo this only lets there be one c language. So no c# and c++.
        Projects.Distinct();
    }

    protected async Task NavigateToSingleProjectPage(string projectName)
    {
        var project = await portfoiliApi.GetProjectByNameAsync(projectName);
        navManager.NavigateTo("projectentry/" + project.Slug);
    }
}
