<ul class="navbar">
    <li class="navItems">
        <a href="">Home</a>
    </li>
    <li class="navItems">
        <a href="projectentry">Project Entry</a>
    </li>
    <li class="navItems">
        <a href="languages">Languages</a>
    </li>
    <li class="navItems">
        <a href="platforms">Platforms</a>
    </li>
    <li class="navItems">
        <a href="technologies">Technologies</a>
    </li>
    <li class="navItems">
        <AccessControl />
    </li>
</ul>

@code {

}
